@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

/* Common Css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
/* NavBar Css Style */
nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 20px;
  

}
nav a{
  display: inline-block;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
nav ul{
  display: flex;
  gap: 20px;
}

.middle a{
  font-size: 20px;
}

#hero{
  margin-top: 50px;
  margin: 0vw 13vw;
  padding: 35vh 0 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.sustain{
  width: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sustain p{
  font-size: 18px;
  font-weight: normal;
  padding: 15px 0;
}
.sustain_img{
  position: relative;
  overflow: hidden;
  width: 10vw;
  height: 30vh;
}
.sustain_img img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
  height: 130%;
  object-fit: cover;
}
#ephemeral{
  width: 28vw;
}
.emphemeral_image{
  position: relative;
}
#ephemeral h1{
  width: 100%;
  font-size: 5.7vw;
  font-weight: 500;
  line-height: .8;
  position: absolute;
  top: -98px;
  left: -26px;
}
#ephemeral p{
  width: 60%;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-top: 20px;
}
.emphemeral_image img{
  width: 100%;
  height: 100%;
}
#visit{
  display: flex;
  gap: 10px;
  align-items: center;
}
.visit_circle{
  font-size: 30px;
  color: #aeaeae;
  font-weight: 300;
}
#visit h3{
  color: #929191;
  font-weight: 300;
}
#motive{
  margin: 0 13vw ;
  padding: 5vw 0;
}
#motive h3{
  font-size: 22px;
  font-weight: 500;
  color: #929191;
  text-transform: uppercase;
}
#motive p{
  font-size: 35px;
  font-weight: 500;
  padding-left: 5vw;
  text-align: right;
  line-height: 1.6;
}
#motive p span{
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 0 10px;
  border-radius: 100px;
  margin-bottom: -10px;
  overflow: hidden;
}
#motive p span img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#system{
  width: 100%;
 padding: 0 13vw;
 margin: 40px 0;
 display: flex;
 justify-content: space-between;
}
.senergy{
  width: 15vw;
}
.senergy_image{
  width: 15vw;
  height: 45vh;
}
.senergy_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.senergy h2, .hermony h2{
  font-size: 28px;
  font-weight: 600;
  padding: 20px 0 15px ;
  color: #000;
}
.senergy p, .hermony p{
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.hermony{
  width: 18vw;
  text-align: right;
}
.hermony_image{
  width: 18vw;
  height: 65vh;
}

.hermony img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#packaging{
  width: 100%;
  display: flex;
  align-items: center;
}
.image_div{
  width: 69vw;
  height: 65vh;
}
.image_div img{
  width: 100%;
  height: 100%;
  object-position: 0% 70%;
  object-fit: cover;
}
.text_div{
  width: 16vw;
  margin-left: 40px;
}
.text_div h2{
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.future{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
position: relative;
overflow: hidden;
}
.future video{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.ftext{
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ftext h2{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.ftext button{
  padding: 6px 10px;
  background-color: #aeaeae;
  border: none;
  border-radius: 10px;

}